#one config per line
#use '=' to seprate key and value

#chip config
device_id = 0 #use the device to run the program
model_path = /root/Tengine_Atlas/cnn_ctc_sx/model/cnn_ctc_sx.om
model_height = 32
model_width  = 300
model_name = cnn_ctc_sx
runlib_path = /root/Tengine_Atlas/atlas_npu/lib/dist/libt_invasive.so
